body {
  font: 30px "Roboto", Futura, sans-serif;
  margin: 20px; }

.square {
  background: #fff;
  border: 0;
  float: left;
  font-size: 30px;
  font-weight: bold;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 40px; }
  .square.unselected {
    padding: 2px;
    background-color: grey;
    border-left: darkgray 1px solid;
    border-top: darkgray 1px solid;
    border-right: darkgray 3px solid;
    border-bottom: darkgray 3px solid; }
  .square.selected {
    background-color: lightgrey;
    border: white 1px solid; }
  .square.blowup {
    background-color: red; }
  .square.posited {
    background-color: green; }
  .square.type-0 {
    background-color: lightgray;
    color: gray; }
  .square.type-1 {
    background-color: lightgray;
    color: blue; }
  .square.type-2 {
    background-color: lightgray;
    color: green; }
  .square.type-3 {
    background-color: lightgray;
    color: red; }
  .square.type-4 {
    background-color: lightgray;
    color: darkblue; }
  .square.type-5 {
    background-color: lightgray;
    color: darkgreen; }
  .square.type-6 {
    background-color: lightgray;
    color: darkred; }
  .square.type-7 {
    background-color: lightgray;
    color: darkred; }
  .square.type-8 {
    background-color: lightgray;
    color: darkred; }

.square:focus {
  outline: none; }

.kbd-navigation .square:focus {
  background: #ddd; }

.game {
  display: flex;
  flex-direction: column; }

.game-info {
  margin-left: 20px; }

.game-board {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px; }

.timer {
  color: red; }
