body {
  font: 30px "Roboto", Futura, sans-serif;
  margin: 5px;
}

$square-side: 40px;
$font-size: 30px;
$game-width: 40*16px;

.square {
  background: #fff;
  border: 0;
  float: left;
  font-size: $font-size;
  font-weight: bold;
  height: $square-side;
  margin: 0;
  padding: 0;
  text-align: center;
  width: $square-side;
  &.unselected{
    padding:2px;
    background-color: white;
    border-left: darkgray 1px solid;
    border-top: darkgray 1px solid;
    border-right: darkgray 1px solid;
    border-bottom: darkgray 1px solid;
  }
  &.selected{
    background-color: lightgrey;
    border: white 1px solid;
  }
  &.blowup{
    background-color: red;
  }
  &.posited{
    background-color: green;
  }
  &.type-0{
    background-color: lightgray;
    color: gray;
  }
  &.type-1{
    background-color: lightgray;
    color: blue;
  }
  &.type-2{
    background-color: lightgray;
    color: green;
  }
  &.type-3{
    background-color: lightgray;
    color: red;
  }
  &.type-4{
    background-color: lightgray;
    color: darkblue;
  }
  &.type-5{
    background-color: lightgray;
    color: darkgreen;
  }
  &.type-6{
    background-color: lightgray;
    color: darkred;
  }
  &.type-7{
    background-color: lightgray;
    color: darkred;
  }
  &.type-8{
    background-color: lightgray;
    color: darkred;
  }
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
}

.game-info {
  margin-left: 20px;
}

.game-board{
  display: grid;
  border: darkgrey 1px solid;
  width: $game-width;
  grid-template-columns: $square-side $square-side $square-side $square-side $square-side $square-side $square-side $square-side $square-side $square-side $square-side $square-side $square-side $square-side $square-side $square-side ;
}

.timer{
  color: red;
}

.fa-frown-o{
  background: red;
}

.fa-smile-o{
  background: yellow;
}

.fa-meh-o{
  background: white;
}

p{
  margin:0;
  border: none;
  padding: 0;
  font-size: small;
}

.nav{
  display: table;
  width:100%;
  margin:0;
  border: none;
  padding: 0;
  background-color: lightgrey;
  * {
    display: table-cell;
  }
}

.new-game{
  font-size: medium;
  &.hi{
    background: green;
  }
}

.toolbar{
  display: table;
  width: $game-width;
  *{
    display: table-cell;
  }
}
