body {
  font: 30px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  &.blowup{
    background-color: red;
  }
  &.posited{
    background-color: lightyellow;
  }
  &.type-0{
    background-color: lightgray;
    color: gray;
  }
  &.type-1{
    background-color: lightgray;
    color: blue;
  }
  &.type-2{
    background-color: lightgray;
    color: green;
  }
  &.type-3{
    background-color: lightgray;
    color: red;
  }
  &.type-4{
    background-color: lightgray;
    color: darkblue;
  }
  &.type-5{
    background-color: lightgray;
    color: darkgreen;
  }
  &.type-6{
    background-color: lightgray;
    color: darkred;
  }
  &.type-7{
    background-color: lightgray;
    color: darkred;
  }
  &.type-8{
    background-color: lightgray;
    color: darkred;
  }
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
