body {
  font: 30px "Roboto", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: #fff;
  border: 0;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin: 0px;
  padding: 0;
  text-align: center;
  width: 60px;
  &.unselected{
    padding:2px;
    background-color: lightgrey;
    border-left: darkgray 1px solid;
    border-top: darkgray 1px solid;
    border-right: darkgray 3px solid;
    border-bottom: darkgray 3px solid;
  }
  &.selected{
    background-color: lightgrey;
    border: white 1px solid;
  }
  &.blowup{
    background-color: red;
  }
  &.posited{
    background-color: lightyellow;
  }
  &.type-0{
    background-color: lightgray;
    color: gray;
  }
  &.type-1{
    background-color: lightgray;
    color: blue;
  }
  &.type-2{
    background-color: lightgray;
    color: green;
  }
  &.type-3{
    background-color: lightgray;
    color: red;
  }
  &.type-4{
    background-color: lightgray;
    color: darkblue;
  }
  &.type-5{
    background-color: lightgray;
    color: darkgreen;
  }
  &.type-6{
    background-color: lightgray;
    color: darkred;
  }
  &.type-7{
    background-color: lightgray;
    color: darkred;
  }
  &.type-8{
    background-color: lightgray;
    color: darkred;
  }
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

.game-board{
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
}

.timer{
  color: red;
}
